﻿@model CustomersAndOrdersCC.Data.Models.Customer

@{
    ViewData["Title"] = "CreateNewCustomer";
}

<h1>CreateNewCustomer</h1>

<h4>NewCustomer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("CreateCustomer", "CreateCustomer", FormMethod.Post))
        {
        <fieldset>
            <legend>Customer Info Input</legend>
            <p>
                Title :
                @Html.TextBoxFor(PersInfo => PersInfo.Title)
            </p>

            <p>
                First Name :
                @Html.TextBoxFor(PersInfo => PersInfo.FirstName)
            </p>

            <p>
                Middle Name :
                @Html.TextBoxFor(PersInfo => PersInfo.MiddleName)
            </p>

            <p>
                Last Name :
                @Html.TextBoxFor(PersInfo => PersInfo.LastName)
            </p>

            <p>
                Gender :
                @Html.TextBoxFor(PersInfo => PersInfo.Gender)
            </p>

            <p>
                EmailAddress :
                @Html.TextBoxFor(PersInfo => PersInfo.EmailAddress)
            </p>

            <p>
                Phone Number :
                @Html.TextBoxFor(PersInfo => PersInfo.HomePhoneNumber)
            </p>

            <p>
                Street :
                @Html.TextBoxFor(PersInfo => PersInfo.AddressLine1)
            </p>

            <p>
                HouseNr :
                @Html.TextBoxFor(PersInfo => PersInfo.AddressLine2)
            </p>

            <p>
                City :
                @Html.TextBoxFor(PersInfo => PersInfo.City)
            </p>

            <p>
                Postal Code :
                @Html.TextBoxFor(PersInfo => PersInfo.PostalCode)
            </p>

            <p>
                BusinessEntityID :
                @Html.TextBoxFor(PersInfo => PersInfo.BusinessEntityID)
            </p>



            <p>
                <br />
                <button type="submit">Create new Customer</button>
            </p>


        </fieldset>
        }
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
