﻿@model WebApplication.Models.ModelClass

@{
    ViewData["Title"] = "Landing";
}

<h1>Calling Center App</h1>
<br />
<br />
<br />
<br />


@using (Html.BeginForm("Comparison", "Home", FormMethod.Post))
{

    <fieldset>
        <legend>Customer Info Input</legend>
        <p>
            First Name :
            @Html.TextBoxFor(model => model.MVCFirstName)
        </p>

        <p>
            Last Name :
            @Html.TextBoxFor(model => model.MVCLastName)
        </p>

        <p>
            <br />
            <button type="submit">Submit / Search Customer</button>
        </p>
        
        
    </fieldset>

}

@using (Html.BeginForm("CustomerOverview", "OcOverview", FormMethod.Post))
{
    <br />
    <button type="submit">View Old Customers</button>
}

