﻿@model CustomersAndOrdersCC.Data.Models.CombinedModel

@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

@using (Html.BeginForm("FinalOrder", "Order", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Oproduct.FirstOrDefault().ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oproduct.FirstOrDefault().ProductType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oproduct.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oproduct.FirstOrDefault().UnitType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oproduct.FirstOrDefault().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oproduct.FirstOrDefault().IsChecked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oproduct.FirstOrDefault().Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Oproduct.Count(); ++i)
            {
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Oproduct[i].ProductId)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Oproduct[i].ProductType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Oproduct[i].Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Oproduct[i].UnitType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Oproduct[i].Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Oproduct[i].IsChecked)
                        </td>
                        <td>
                            @Html.TextBoxFor(modelItem => modelItem.Oproduct[i].Quantity)
                        </td>

                    </tr>
                }
            }
    </table>
    <p>
        <br />
        <button type="submit">Confirm Order</button>
    </p>
}